{{log this}}
<div
    class="effect-item"
    data-effect-id="{{effect._id}}"
    data-effect-uuid="{{effect.uuid}}"
>

    <div
        data-tooltip="MOUSEGUARD.{{this}}ToolTip"
        data-tooltip-direction="LEFT"
        class="effect-icon"
        style="background-image: url('systems/mouseguard/assets/icons/{{this}}.svg')"
    ></div>
</div>