<div class="table-draw" data-table-id="{{ table.id }}">
    {{#if description}}
    <div class="table-description">{{{description}}}</div>
    {{/if}}
    {{{ rollHTML }}}
    <ol class="table-results">
        {{#if mission}}
        <li class="table-result flexrow" data-result-id="{{ this.id }}">
            <img class="result-image" src="icons/svg/d20-black.svg"/>
            <div class="result-text">{{{mission}}}</div>
        </li>
        {{/if}}
    </ol>
</div>