<div class="mouse_conflict">
<h2 >{{localize "COMBAT.SelectMove"}}</h2>
    <table class="tg">
    <thead>
    <tr>
        <th class="mg-cm-head">Move 1</th>
        <th class="mg-cm-head">Move 2</th>
        <th class="mg-cm-head">Move 3</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {{#times 3}}
        <td class="tg-0lax">
            <select id="move{{this}}-actor">
            {{#each ../actors}}
                <option {{#if (eq @index ../this)}} selected {{/if}} value="{{combatant}}">{{name}}</option>
            {{/each}}
            </select>
        </td>
        {{/times}}
    </tr>
    <tr>
        {{#times 3}}
        <td class="tg-0lax">
            <input class="move{{this}}" type="radio" id="move{{this}}-move1" name="move{{this}}-move" value="attack" checked > <label for="move{{this}}-move1">{{localize "COMBAT.attack"}}</label><br> 
            <input class="move{{this}}" type="radio" id="move{{this}}-move2" name="move{{this}}-move" value="defend"> <label for="move{{this}}-move2">{{localize "COMBAT.defend"}}</label><br> 
            <input class="move{{this}}" type="radio" id="move{{this}}-move3" name="move{{this}}-move" value="feint"> <label for="move{{this}}-move3">{{localize "COMBAT.feint"}}</label><br> 
            <input class="move{{this}}" type="radio" id="move{{this}}-move4" name="move{{this}}-move" value="maneuver"> <label for="move{{this}}-move4">{{localize "COMBAT.maneuver"}}</label><br> 

        </td>
        {{/times}}
    </tr>
    </tbody>
    </table>
</div>